/* #cky-btn-accept{
    color: #fff !important;
    background-color: #1b39ca !important;
    border-color: #1b39ca !important;
}
#cky-btn-settings{
    color: #7f7f7f !important;
    background-color: transparent !important;
    border-color: #ebebeb !important;
}


<style>
.cky-btn {
    flex: auto !important;
    max-width: 100% !important;
    font-size: 14px !important;
    font-family: inherit !important;
    line-height: 24px !important;
    padding: 8px !important;
    font-weight: 500 !important;
    margin: 0 8px 0 0 !important;
    border-radius: 2px !important;
    cursor: pointer !important;
    text-align: center !important;
    text-transform: none !important;
    min-height: 0 !important;
    letter-spacing: normal !important;

}

.cky-btn-accept {
    color: #d0d0d0;
    border-color: #d0d0d0;
    background-color: transparent;
}
.cky-btn-reject {
    color: #1863dc !important;
    background: 0 0 !important;
    border: 2px solid #1863dc !important;
}
.cky-btn-customize {
    color: #1863dc !important;
    background: 0 0 !important;
    border: 2px solid #1863dc !important;
}
.cky-btn-preferences {
    color: #1863dc !important;
    background: transparent !important;
    border: 2px solid #1863dc !important;
}
button.cky-accordion-btn {
    letter-spacing: normal !important;
}
</style> */




/* .cky-btn {
    
    display:block !important;
    max-width: 100% !important;
    font-size: 14px !important;
    font-family: inherit !important;
    line-height: 24px !important;
    padding: 8px !important;
    font-weight: 500 !important;
    border-radius: 2px !important;
    cursor: pointer !important;
    text-align: center !important;
    text-transform: none !important;
    min-height: 0 !important;
    letter-spacing: normal !important;

}
    .cky-btn-reject {
    color: #d0d0d0 !important;
    border-color: #d0d0d0 !important;
    background-color: transparent !important;
    border-width:1px !important;
    
}
    .cky-btn-customize {
       color: #d0d0d0 !important;
    border-color: #d0d0d0 !important;
    background-color: transparent !important;
    border-width:1px !important;
}
.cky-btn-accept {
       color: #d0d0d0 !important;
    border-color: #1863dc !important;
    background-color: #1863dc !important;
    border-width:1px !important;
}
.cky-btn-preferences {
    color: #d0d0d0 !important;
    background-color: transparent!important;
    border-color: #d0d0d0 !important;
    border-width:1px !important;
} */




//new style 


.cky-btn {
    
    display:block !important;
    max-width: 100% !important;
    font-size: 14px !important;
    font-family: inherit !important;
    line-height: 24px !important;
    padding: 8px !important;
    font-weight: 500 !important;
    border-radius: 2px !important;
    cursor: pointer !important;
    text-align: center !important;
    text-transform: none !important;
    min-height: 0 !important;
    letter-spacing: normal !important;

}
    .cky-btn-reject {
    color: #d0d0d0 !important;
    border-color: #d0d0d0 !important;
    background-color: transparent !important;
    border-width:1px !important;
    
}
    .cky-btn-customize {
       color: #d0d0d0 !important;
    border-color: #d0d0d0 !important;
    background-color: transparent !important;
    border-width:1px !important;
}
.cky-btn-accept {
       color: #d0d0d0 !important;
    border-color: #1863dc !important;
    background-color: #1863dc !important;
    border-width:1px !important;
}
.cky-btn-preferences {
    color: #d0d0d0 !important;
    background-color: transparent!important;
    border-color: #d0d0d0 !important;
    border-width:1px !important;
}
.cky-accordion-btn {
    display:block !important;
}
.cky-show-desc-btn{
    display:block !important;
}
    .cky-btn-close{
        display:block !important;
    }
    .cky-accordion-header .cky-accordion-btn:hover{
             background:none !important;
         }
        .cky-preference-content-wrapper .cky-show-desc-btn:hover{
            background:none !important;
        }
        .cky-preference-header .cky-btn-close:hover{
            background:none !important;
        }
   .cky-switch input[type="checkbox"]{
       border-radius:50px !important;
       border:none !important;
   }
