#cky-btn-accept{
    color: #fff !important;
    background-color: #1b39ca !important;
    border-color: #1b39ca !important;
}
#cky-btn-settings{
    color: #7f7f7f !important;
    background-color: transparent !important;
    border-color: #ebebeb !important;
}

